<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>유수헌을 소개합니다.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

<style>

	.img_box {

		background-image: url("back.png");
		background-size: cover;
		background-position: center;
	}
	
	h3{
		margin-left:50vh;
		margin-top: 20vh;
	}
</style>

</head>
<body>
<div class='container'>
	<div class = img_box>
		<div id= title>
		<h3>유수헌을 소개합니다.</h3>
		</div>
			<div>
				<button type="button" class="btn btn-outline-primary" style="margin-left:35vh;margin-top:5vh;">Introduce</button>
				<button type="button" class="btn btn-outline-success" style="margin-left:12vh;margin-top:5vh;">Stroy</button>
				<button type="button" class="btn btn-outline-dark" style="margin-left:12vh;margin-top:5vh;">Light</button>
			</div>
	</div>
</div>
</body>
</html>